{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active"> About</li>
                </ol>
            </nav>
        </div>
    </section>
    
    <!-- About -->
    <section id="about" class="py-4">
        <div class="container">
            <h2>About Retain</h2>
            <p class="lead">
                A platform to help users memorise statements.
            </p>
            <div class="row">
                <div class="col-md-8">
                    <p class="mt-4">
                        Created with extension support in mind, this is a project that I worked on for my final 
                        undergraduate year to help me get the hang web development technologies. As a fan of 
                        spaced repetition learning but as someone who is generally lazy, I decided to build a platform that 
                        allows for forcing the user to stick to revising what they learn and this is the outcome.
                    </p>
                    <p class="mt-4">
                        <a href="https://github.com/aali195/retain">Full source code can be found on GitHub here.</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="{% static 'img/logo_tr_small.png' %}" alt="">
                </div>
            </div>
        </div>
    </section>

{% endblock %}