{% extends 'base.html' %}

{% block content %}

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="display-4">Spaced repetition learning, interaged into your every day life!</h1>
                    <p class="lead">Use spaced repetition to learn new statements and facts every day using this platform.</p>
                    <hr class="my-4">
                    <p>LINKS TO COMPANION APPS</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="" src="assets/img/logo_bw_small.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Listings -->
    <section id="listings" class="py-5">
        <div class="container">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}

            <h3 class="text-center mb-3">Featured Collections</h3>
            <div class="row">
                
                <!-- Listing 1 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                        <img class="card-img-top" src="assets/img/collections/1/main.jpg" alt="">
                        <div class="card-body">
                            <div class="listing-heading text-center">
                                <h4 class="text-primary">The Periodic Table</h4>
                                <p>Short description that needs shortening</p>
                            </div>
                            <hr>
                            <div class="row py-2 text-secondary">
                                <div class="col-8">Created By: User1</div>
                            </div>
                            <div class="row py-2 text-secondary">
                                <div class="col-8">Upload date: 20/10/18</div>
                            </div>
                            <hr>
                            <a href="collection.html" class="btn btn-primary btn-block">More Info</a>
                        </div>
                    </div>
                </div>

                <!-- Listing 2 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                        <img class="card-img-top" src="assets/img/collections/2/main.jpg" alt="">
                        <div class="card-body">
                            <div class="listing-heading text-center">
                                <h4 class="text-primary">The Periodic Table</h4>
                                <p>Short description that needs shortening</p>
                            </div>
                            <hr>
                            <div class="row py-2 text-secondary">
                                <div class="col-8">Created By: User1</div>
                            </div>
                            <div class="row py-2 text-secondary">
                                <div class="col-8">Upload date: 20/10/18</div>
                            </div>
                            <hr>
                            <a href="collection.html" class="btn btn-primary btn-block">More Info</a>
                        </div>
                    </div>
                </div>

                <!-- Listing 3 -->
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card listing-preview">
                        <img class="card-img-top" src="assets/img/collections/3/main.jpg" alt="">
                        <div class="card-body">
                            <div class="listing-heading text-center">
                                <h4 class="text-primary">The Periodic Table</h4>
                                <p>Short description that needs shortening</p>
                            </div>
                            <hr>
                            <div class="row py-2 text-secondary">
                                <div class="col-8">Created By: User1</div>
                            </div>
                            <div class="row py-2 text-secondary">
                                <div class="col-8">Upload date: 20/10/18</div>
                            </div>
                            <hr>
                            <a href="collection.html" class="btn btn-primary btn-block">More Info</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    
        <!-- View More -->
        <div class="container text-center">
            <a class="nav-link" href="collections.html">View More</a>
        </div>
    </section>

{% endblock %}