{% extends 'base.html' %}

{% block content %}

    <!-- Search -->
    <section id="showcase-inner" class="showcase-search text-white py-4">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <form action="search.html">
                        <h1 class="display-5">Search Collections</h1>
                        <p class="lead text-left">Use keywords to search for collections</p>
                        <div class="form-row">
                            <div class="col-md-8">
                                <label class="sr-only">Keywords</label>
                                <input type="text" name="keywords" class="form-control" placeholder="Keyword (Chemistry, Spanish, etc)">
                            </div>
                            <div class="col-md-4">
                                <label class="sr-only">State</label>
                                <select name="sorting" class="form-control">
                                    <option selected="true">Rating</option>
                                    <option value="latest">Latest</option>
                                    <option value="title">Title</option>
                                    <option value="creator">Creator</option>
                                </select>
                            </div>
                        </div>
                        <button class="btn btn-secondary btn-block mt-4" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active"> Browse Collections</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Listings -->
    <section id="listings" class="py-5">
        <div class="container">
            <h3 class="text-center mb-3">Featured Collections</h3>
            <div class="row">

                <!-- Listing -->
                {% if collections %}
                    {% for collection in collections %}
                        <div class="col-md-6 col-lg-4 mb-4">
                            <div class="card listing-preview">
                                <img class="card-img-top" src="{{collection.image.url}}" alt="">
                                <div class="card-body">
                                    <div class="listing-heading text-center">
                                        <h4 class="text-primary">{{collection.title}}</h4>
                                        <p></p>
                                    </div>
                                    <hr>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-8">Created By: {{collection.creator}}</div>
                                    </div>
                                    <div class="row py-2 text-secondary">
                                        <div class="col-8">Upload date: {{collection.upload_date}}</div>
                                    </div>
                                    <hr>
                                    <a href="{% url 'collection' collection.id %}" class="btn btn-primary btn-block">More Info</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                      <p>No Collection Available</p>
                    </div>
                {% endif %}
            </div>

            <!-- Pagination -->
            <div class="row">
                <div class="col-md-12">
                    {% if collections.has_other_pages %}
                        <ul class="pagination">
                            {% if collections.has_previous %}
                                <li class="page-item">
                                    <a href="?page={{collections.previous_page_number}}" class="page-link">&laquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;</a>
                                </li>
                            {% endif %}
                            {% for i in collections.paginator.page_range %}
                                {%if collections.number == i %}
                                    <li class="page-item active">
                                        <a class="page-link">{{i}}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a href="?page={{i}}" class="page-link">{{i}}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if collections.has_next %}
                                <li class="page-item">
                                    <a href="?page={{collections.next_page_number}}" class="page-link">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&raquo;</a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

{% endblock %}