{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Title -->
    <section id="showcase-session" class="py-3 text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="display-4">Edit Collection</h1>
                    <p class="lead">Editting: Periodic Table</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="breadcrumb-item active">Edit {{collection.title}}</li>
                </ol>
            </nav>
        </div>
    </section>

    <!-- Alerts -->
    {% include 'partials/_alerts.html' %}

{% endblock %}