{% extends 'base.html' %}

{% block content %}
    <!-- Title -->
    <section id="showcase" class="py-4 text-white">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h1 class="display-4">User Dashboard</h1>
                    <p class="lead">Manage your learning experience</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Breadcrumb -->
    <section id="bc" class="mt-3">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active"> Dashboard</li>
                </ol>
            </nav>
        </div>
    </section>

    <section id="dashboard" class="py-4">
        <div class="container">
            <!-- Alerts -->
            {% include 'partials/_alerts.html' %}
            
            <div class="row">
                <div class="col-md-8 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">{{current.collection}}</h2>
                            <hr>
                            <div class="row">
                                <div class="col-md-8">
                                    <h5>Completed: {{current.completed_count}}/{{current.collection.size}} </h5>
                                    <h5>Last reviewed: {{current.last_reviewed}} </h5>
                                </div>
                                <div class="col-md-4 text-center">
                                    <img src="{{current.collection.image.url}}" alt="" class="img-main img-fluid">
                                    <a href="#" class="btn text-white btn-primary">REVIEW</a>
                                    <a href="#" class="btn text-white btn-primary">LEARN</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">My Created Collections</h5>
                            <table class="table">
                                <tbody>
                                    {% if created %}
                                        {% for collection in created %}
                                            <tr>
                                                <td><a href="{% url 'collection' collection.id %}" class="card-link">{{collection.title}}</a></td>
                                                <td><a class="btn btn-secondary" href="{% url 'edit_collection' collection.id %}">Edit</a></td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <p>You have no created any collections.</p>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 py-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">My Added Collections</h5>
                            <table class="table">
                                <tbody>
                                    {% if subscriptions %}
                                        {% for subscription in subscriptions %}
                                            <tr>
                                                <td><a href="{% url 'collection' subscription.collection.id %}" class="card-link">{{subscription.collection.title}}</a></td>
                                                <td>{{subscription.completed_count}}/{{subscription.collection.size}}</td>
                                                <td>
                                                    <form action="" method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn btn-secondary" type="submit" name="activate" value="{{subscription.collection.id}}">Activate</button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <p>You have not subscribed to any collections.</p>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}